@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", cursive;
  background-image: url(./assets/fondo.jpg);
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  height: auto;
  width: auto;
  text-shadow: 7px 7px 10px rgb(109, 109, 109);
  font-size: 200px;
  display: flex;
  color: #b93160;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 3px 7px 17px -7px #ff00;
}

.subtitulo {
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-size: 50px;
  display: flex;
  color: wheat;
  padding: 10px;
  border-radius: 5px;
  background-color: #ac7088;
  margin: 5px 0px 20px 0px;
}

.tarjetas, .ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 190px;
  background: #9ed2c6;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  color: wheat;
  font-size: 35px;
  justify-content: center;
  align-items: stretch;
}

.tarjeta-de-mokepon img {
  width: 200px;
}

#boton-seleccionar {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(236, 179, 144, 1) 50%,
    rgba(238, 122, 120, 1) 100%
  );
  border: none;
  color: wheat;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.boton-escape {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  width: 150px;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(236, 179, 144, 1) 50%,
    rgba(238, 122, 120, 1) 100%
  );
  border: none;
  color: wheat;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

#boton-reiniciar {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  width: auto;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(236, 179, 144, 1) 50%,
    rgba(238, 122, 120, 1) 100%
  );
  border: none;
  color: wheat;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

input {
  display: none;
}

input:checked + label {
  background: #e9e3e3;
  transition: background-color .5s;
}

input:hover + label {
  width: 350px;
  height: 240px;
  font-size: 45px;
  transition: height, width, font-size .2s;
}
button:hover {
  width: 200px;
  height: 120px;
  font-size: 45px;
  transition: height, width, font-size .2s;
}
#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-ataque {
  background-color: #9ed2c6;
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  width: 200px;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 35px;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  color: wheat;
  font-family: "Bebas Neue", cursive;
  border: 4px transparent;
  
}

#resultado {
  margin: 20px;
}

#mensajes {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: #ac7088;
  border-radius: 20px;
  font-size: 30px;
  background: #f5e8c7;
  margin: 20px 1px 15px 1px;
  border: none;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 4px #a3a3a3;
  text-align: center;
}

#reiniciar {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.combate {
  font-size: 20px;
  width: 700px;
  height: auto;
  display: grid;
  grid-template: 1fr / 50% 50%;
}

.jugador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  background: #f5e8c7;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
}

.enemigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  background: #f5e8c7;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
}

#mascota-jugador {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#mascota-enemigo {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#vidas-jugador {
  display: flex;
  margin: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 50px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#vidas-enemigo {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 50px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#parrafo-jugador {
  display: flex;
  margin: 1px;
  line-height: 0.8em;
}

#parrafo-enemigo {
  display: flex;
  margin: 1px;
  line-height: 0.8em;
}

#ataques-del-jugador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 15px;
  text-shadow: 2px 2px 4px #a3a3a3;
  height: auto;
}

#ataques-del-enemigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 15px;
  text-shadow: 2px 2px 4px #a3a3a3;
  height: auto;
}

@media(max-width: 720px) {
  .tarjetas, .ataques, .combate {
    flex-direction: column;
  }

  .titulo {
    font-size: 90px;
  }

  .combate {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}