@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Bebas Neue", cursive;
  background-image: url(./assets/pixel.png);
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  height: auto;
  width: auto;
  text-shadow: 7px 7px 20px rgb(77, 77, 77);
  font-size: 200px;
  display: flex;
  color: #96ceb4;
  padding: 10px;
  border-radius: 20px;
  margin: -30px;
  box-shadow: 3px 7px 17px -7px #ff00;
}

.tituloMapa {
  height: auto;
  width: auto;
  text-shadow: 7px 7px 20px rgb(77, 77, 77);
  font-size: 100px;
  text-align: center;
  display: flex;
  color: #96ceb4;
  padding: 10px;
  border-radius: 20px;
  margin: -10px;
  box-shadow: 3px 7px 17px -7px #ff00;
}

.subtitulo,
#subtitulo {
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-size: 50px;
  display: flex;
  color: whitesmoke;
  text-shadow: 3px 7px 17px 10px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 5px;
  background-color: #ac7088;
  margin: 5px 0px 20px 0px;
}

.tarjetas,
.ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 190px;
  background: #90aacbde;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 35px;
  justify-content: center;
  align-items: stretch;
}

.tarjeta-de-mokepon:hover {
  width: 330px;
  height: 220px;
  font-size: 40px;
  transition: height 0.2s, width 0.2s, font-size 0.5s;
}

.tarjeta-de-mokepon img {
  width: 200px;
}

#boton-seleccionar {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(236, 179, 144, 0.87) 50%,
    rgba(238, 122, 120, 0.87) 100%
  );
  border: none;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#boton-seleccionar:hover {
  width: 350px;
  height: 130px;
  font-size: 45px;
  transition: height 0.2s, width 0.2s, font-size 0.2s;
}

.boton-escape {
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  width: 150px;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(236, 179, 144, 0.87) 50%,
    rgba(238, 122, 120, 0.87) 100%
  );
  border: none;
  color: whitesmoke;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
#botonMoverDerecha,
#botonMoverIzquierda,
#botonMoverArriba,
#botonMoverAbajo {
  display: flex;
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  font-family: "Bebas Neue", cursive;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(236, 179, 144, 0.87) 50%,
    rgba(238, 122, 120, 0.87) 100%
  );
  border: none;
  color: whitesmoke;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px 1px 1px 1px;
}
#botonMoverDerecha:hover,
#botonMoverIzquierda:hover,
#botonMoverArriba:hover,
#botonMoverAbajo:hover {
  width: 95px;
  height: 60px;
  font-size: 30px;
  margin: 1px 1px 1px 1px;
  transition: height 0.2s, width 0.2s, font-size 0.2s;
}

input {
  display: none;
}

input:checked + label {
  background: #505252c2;
  transition: background-color 0.8s;
}

button:hover {
  width: 200px;
  height: 120px;
  font-size: 45px;
  transition: height 0.2s, width 0.2s, font-size 0.3s;
}
#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-ataque {
  background-color: #bffff0b9;
  text-shadow: 2px 3px 5px rgb(109, 109, 109);
  width: 74px;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 35px;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  font-family: "Bebas Neue", cursive;
  border: 4px transparent;
  margin: 3px, 3px, 3px, 3px;
}

.boton-ataque:hover {
  height: auto;
  width: 90px;
  font-size: 45px;
  transition: height 0.2s, width 0.2s, font-size 0.3s;
}

#resultado {
  margin: 20px;
}

#mensajes {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  color: #ac7088;
  border-radius: 20px;
  font-size: 30px;
  background: #f5e8c7;
  margin: 20px 1px 15px 1px;
  border: none;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 4px #a3a3a3;
  text-align: center;
}

#reiniciar button:hover {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 150px;
  font-size: 35px;
  transition: height, width, font-size 0.2s;
}

.combate {
  font-size: 20px;
  width: 500px;
  height: auto;
  display: grid;
  grid-template: 1fr / 50% 50%;
}

.jugador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  background: #f5e8c7cb;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
}

.enemigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
  box-shadow: 3px 7px 17px -7px rgba(0, 0, 0, 0.75);
  background: #f5e8c7cb;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
}

#mascota-jugador {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#mascota-enemigo {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 30px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#vidas-jugador {
  display: flex;
  margin: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 50px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#vidas-enemigo {
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 50px;
  text-shadow: 2px 2px 4px #a3a3a3;
}

#parrafo-jugador {
  display: flex;
  margin: 1px;
  line-height: 0.8em;
}

#parrafo-enemigo {
  display: flex;
  margin: 1px;
  line-height: 0.8em;
}

#ataques-del-jugador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 15px;
  text-shadow: 2px 2px 4px #a3a3a3;
  height: auto;
}

#ataques-del-enemigo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac7088;
  font-size: 15px;
  text-shadow: 2px 2px 4px #a3a3a3;
  height: auto;
}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#direcciones {
  margin: 1px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(5px, auto);
}

#botonMoverIzquierda {
  grid-column: 1;
  grid-row: 2;
}

#botonMoverDerecha {
  grid-column: 3;
  grid-row: 2;
}

#botonMoverArriba {
  grid-column: 2;
  grid-row: 1;
}

#botonMoverAbajo {
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 940px) {
  #ver-mapa .tituloMapa {
    font-size: 50px;
  }
  .tarjetas,
  .ataques,
  .combate {
    flex-direction: column;
    font-size: auto;
  }

  .titulo {
    font-size: 90px;
  }

  .combate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
  }
}
